/* fooldal.css */

body {
    font-family: "Neuton", sans-serif;
    background-color: #090d00;
    color: rgba(255, 255, 255, .25);
    text-align: center;
    margin: 0;
    padding: 0;
}

.header h1 {
    font-size: 2em;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 1.5em 0;
}

.header h1 span {
    font: 300 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 25px rgba(255, 255, 255, .5);
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.container {
    margin-top: 20px;
    padding: 0 10px;
}

.container form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container label {
    color: #fff;
    margin-bottom: 10px;
    flex: 1;
}

.form-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.form-group input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1em;
    flex: 2;
}

.form-group input[type="checkbox"] {
    display: none;
}

.container button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    align-self: center;
}

.container button[type="submit"]:hover {
    background-color: #45a049;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .header h1 {
        font-size: 1.5em;
    }

    .header h1 span {
        font-size: 2.5em;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1.2em;
    }

    .header h1 span {
        font-size: 2em;
    }

    .container {
        margin-top: 10px;
        padding: 0 5px;
    }

    .container input[type="text"] {
        font-size: 0.9em;
    }

    .container button[type="submit"] {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}

/* Toggle Switch */
.tgl {
    display: none;
}

.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    background: #e74c3c; /* Piros szín alaphelyzetben */
    overflow: hidden;
    transform: skew(-10deg);
    transition: all .2s ease;
}

.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transition: all .2s ease;
    text-align: center;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.4);
    transform: skew(10deg);
}

.tgl + .tgl-btn:before {
    content: attr(data-tg-off);
    left: 0;
}

.tgl + .tgl-btn:after {
    content: attr(data-tg-on);
    left: 100%;
    display: none;
}

.tgl:checked + .tgl-btn {
    background: #2ecc71; /* Zöld szín bekapcsolt állapotban */
}

.tgl:checked + .tgl-btn:after {
    left: 0;
    display: inline-block;
}

.tgl:checked + .tgl-btn:before {
    left: -100%;
    display: none;
}

$fuschia: #ff0081;
$button-bg: $green;
$button-text-color: #fff;
$baby-blue: #f8faff;

body {
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  background-color: $baby-blue;
}

.new-game-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(46, 204, 113, 0.5);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before {
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, $button-bg 20%, transparent 30%),
      radial-gradient(circle, $button-bg 20%, transparent 20%), 
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  
  &:after {
    display: none;
    bottom: -75%;
    background-image:  
      radial-gradient(circle, $button-bg 20%, transparent 20%), 
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
 
  &:active {
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(46, 204, 113, 0.2);
  }
  
  &.animate {
    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
